.margin-top{
  margin-top: 15px;
}

body{
  margin:0;
  padding: 0;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 768px) {

  .jumbotron h1 {
     font-size: 2em;

  }
  .jumbotron p {
    font-size: 1.5em;
  }


}

.jumbotron{
  background-image: url(IMAGENES/bg2.jpg);
  Background-size: cover;
}

.titulo-fotos{
  font-size: 1.2em;
}

.border{
  border: 8px solid silver;
  border-radius: 15px;
  padding-bottom: 2vh;
}

p{
  font-size: 0.7em;
}

.border-top{
  width: 100%;
  border-top: solid 0.3vh silver;
  margin-top: 5vh;
}


.Album-text{
  color: white;
}

footer{
  height: 14vh;
  border: 0.3vh solid grey;
  margin:10px;
}

.img-logo{
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.img-logonav{
  width: 30px;
}

.img-responsive{
  width: 100%;
}

.navbar-brand{
  margin:0px;
}

#fondo-gris{
  width: 100%;
  height: 5.5vh;
  background-color: silver;
  border-top: solid 1px grey;
}

.padding-gris{
  padding-top: 2vh;
}
